@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-list {
  min-height: 100%;
}
.slick-track {
  min-height: 194px;
}

.slick-dots li {
  margin: 0 1px !important;
}
/* Ensure a smooth transition between states */
.parallax-fixed {
  position: fixed;
  z-index: 10;
  top: 318px; /* Adjust the top to match your layout */
  left: 1022px; /* Based on your layout */
}

.parallax-absolute {
  position: absolute;
  top: 253px;
  left: 558px;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
