@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-list {
  min-height: 100%;
}
.slick-track {
  min-height: 194px;
}

.slick-dots li {
  margin: 0 1px !important;
}
