@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  margin: auto;
  max-width: 800px;
}

.animate-spin {
  animation: spin infinite 3s linear; /* Change the duration and timing function as needed */
}
